.mainPageItems{
    width: 198px;
    height: 390px;
    background-color: white;
    border-radius: 10px;
}
.mainPageItemsP{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.mainPageImgItems{
    width: 12vw;
    height: 20vh;
    margin-top: 10px;
}
.mainPageP1Obogrevatel{
    font-size: 30px;
    color: rgb(255, 149, 0);
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.mainPagePObogrevatel{
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 5px;
}
.mainPageBtnsParent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mainPageBtnObogrevatel{
    width: 182px;
    height: 32px;
    border: none;
    background-color: rgb(255, 149, 0);
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    padding-top: 10px;
}
.smartphonesPageMaterialParent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}